﻿<section>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="d-flex flex-column mb-3">
      <div class="gf-bangers-3x text-warning p-0 m-0">UrbanRetro</div>
      <div class="gf-bangers text-muted p-0 m-0">Websites, applications and more</div>
    </div>
    <p class="lead">
      Since the commercialization of the web, web development has been a growing industry. The growth is being driven by businesses
      wishing to use websites to sell products and services to customers. This is where we assist you to achieve your goals
      in the most efficient approach.</span>
    </p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Web Page</h4>
        </div>
        <div class="card-body">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-light"></i>
            <i class="fa fa-desktop fa-stack-1x text-muted"></i>
          </span>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Advocacy webpage</li>
            <li>Business and Marketing webpage</li>
            <li>News webpage</li>
            <li>Informational webpage</li>
            <li>Personal webpage</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-info">More...</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Web Application</h4>
        </div>
        <div class="card-body">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-light"></i>
            <i class="fa fa-mobile fa-stack-1x text-muted"></i>
          </span>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Mobile web applications</li>
            <li>Single-page applications (SPA)</li>
            <li>Responsive web design (RWD)</li>
            <li>Progressive web appps (PWAs)</li>
            <li>Native apps</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-info">More...</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Web System</h4>
        </div>
        <div class="card-body">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-light"></i>
            <i class="fa fa-cogs fa-stack-1x text-muted"></i>
          </span>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Content management system</li>
            <li>Enterprise resource planning</li>
            <li>E-Commerce</li>
            <li>E-Recruitment</li>
            <li>&nbsp;</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-info">More...</button>
        </div>
      </div>
    </div>
  </div>
</section>