<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Urban Retro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <!--ko foreach: router.navigationModel-->
                <li class="nav-item" data-bind="css: { active: isActive }">
                    <a class="nav-link" data-bind="attr: { href: hash }, text: title"></a>
                </li>
                <!--/ko-->
                <li class="nav-item">
                    <a class="nav-link" href="javascript:;">Nowhere</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div data-bind="router: {  }"></div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; nazrulhisham_ / Urban Retro.</span>
    </div>
</footer>